<%
    const previousEnabled = currentPage > 1;
    const nextEnabled = currentPage < totalPages;
%>
<ul class="pagination">
    <% if (previousEnabled) { %>
        <li class="page-item"><a class="page-link" href="<%= serializeParams(Object.assign(queryParams(), {page: currentPage - 1})) %>">&laquo;</a></li>
    <% } else { %>
        <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
    <% } %>

    <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
            <a class="page-link" href="<%= serializeParams(Object.assign(queryParams(), {page: i})) %>"><%= i %></a>
        </li>
    <% } %>

    <% if (nextEnabled) { %>
        <li class="page-item"><a class="page-link" href="<%= serializeParams(Object.assign(queryParams(), {page: currentPage + 1})) %>">&raquo;</a></li>
    <% } else { %>
        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
    <% } %>
</ul>