<% readonly = typeof readonly === 'undefined' ? false : readonly %>
<% disabled = typeof disabled === 'undefined' ? false : disabled %>

<select class="form-control" name="<%= name %>" id="<%= id %>" <%= readonly ? 'readonly' : '' %> <%= disabled ? 'disabled' : '' %>>
    <option></option>
    <% values.forEach(x => { %>
        <% if (selected === x[1]) { %>
            <option value="<%= x[1] %>" selected><%= x[0] %></option>
        <% } else { %>
            <option value="<%= x[1] %>"><%= x[0] %></option>
        <% } %>
    <% }); %>
</select>