<% if (errors.length > 0) { %>
    <div class="card border-danger mb-4">
        <div class="card-header bg-danger text-light">
            <h4>Hang on!</h4>
        </div>
        <div class="card-body">
            There were some problems while trying to save your user profile:
        </div>
        <ul class="list-group list-group-flush">
            <% errors.forEach(e => { %>
                <li class="list-group-item text-danger"><%= capitalizeFirst(e) %></li>
            <% }); %>
        </ul>
    </div>
<% } %>
<form method="POST" action="<%= submitPath %>">
    <div class="form-group">
        <label for="username">Username<span class="text-danger">*</span></label><br/>
        <input class="form-control" type="text" name="username" id="username" value="<%= params('username', user.username) %>" />
        <small class="form-text text-muted">This is your <strong>public</strong> alias.</small>
    </div>

    <div class="form-group">
        <label for="email">Email address<span class="text-danger">*</span></label><br/>
        <input class="form-control" type="email" name="email" id="email" value="<%= params('email', user.email) %>" />
        <small class="form-text text-muted">We need to be able to get in contact with you about your account. This won't be shared without your express permission.</small>    
    </div>

    <div class="form-group">
        <label for="password">Password<span class="text-danger">*</span></label><br/>
        <input class="form-control" type="password" name="password" id="password" />
        <% if (editMode) { %>
            <small class="form-text text-muted">Leave blank to keep your password unchanged.</small>
        <% } %>
    </div>

    <div class="form-group">
        <label for="password-confirm">Confirm password<span class="text-danger">*</span></label><br/>
        <input class="form-control" type="password" name="password_confirm" id="password-confirm" />
    </div>

    <% if (editMode) { %>
        <hr/>

        <div class="form-group">
            <label for="current-password">Current password<span class="text-danger">*</span></label>
            <input type="password" class="form-control" name="current_password" id="current-password" />
            <small class="form-text text-muted">We need your current password to confirm your changes.</small>
        </div>
    <% } %>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> <%= buttonLabel %></button>
    </div>
</form>